body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 225, 255);

}
.container{
    width: 300px;
    margin: 50px auto;
    background-color: rgb(0, 161, 161);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 0px 10px #000000;
}
input{
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    box-sizing: border-box;
}
button{
    width: 100%;
    background-color: #1900ff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(255, 0, 242);
    color:rgb(255, 255, 255)
}